* {box-sizing: border-box;}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/***   MOBILE FIRST   ***/
[class*="col-"] {
    width: 100%;
    #border: 1px solid red;
}

body{
		margin:0;
		height: 500px;
		background: #faf5f5;
}

header{
	position: fixed;
	z-index: 3;
	top: 0;
	height: 55px;
	background-color: #FFFFFF;
	color: black;
	text-align: center;
	border-bottom: 1px solid white;
	background-size: 25% 50%;
	-webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
}

.numerSlider-component box{
	margin: 10px;
	padding: 10px;
	width: 60%;
	display: inline-block;
}

footer{
		border: 4px solid grey;
		height: 100px;
		background: black;
		display: inline-block;
		bottom: 0;
		position: absolute;
}
#logo{
	padding:0 0 0 25px;
	margin:0;
	display: inline-block;
}
#content{
	padding-top:55px;
}
#title{
	position: relative;
	top: -14px;
	left: 2px;
}
.conteiner-general{
	height: 500px;
	padding: 80px;
}

.conteiner-lateral{
	display: none;
}

input[type=range]{
	 width: 100%;
    margin:0 auto;
}
input[type=text]{
	height: 55px;
}
.numberSlider-component{
	margin: 4px;
}
.numberSlider-component span,label {
	text-align: center;
	display: flex;
	justify-content:center;
	align-items:center;
}

input:disabled {
  background: #ccc;
}

input[type=button]{
	border-radius: 9px;
	border: 4px solid aliceblue;
	background: lightblue;
	height: 70px;

}


#respuestas{
	position:relative;
	width: 15%;
	font-size: 14px;
	text-decoration-color: #a19f9f;
}
/***   MOBILE FIRST   ***/


/***   TABLET   ***/
@media only screen and (min-width: 720px){

}
/***   TABLET   ***/


/***   Desktop    ***/
@media only screen and (min-width: 950px){

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	[class*="col-"] {
	   float: left;
	   padding: 15px;
	   ##border: 1px solid red;
	}

	.row:after {
	    content: "";
	    clear: both;
	    display: block;
	}

	body{
		margin:0;
		height: 500px;
		background: #faf5f5;
	}

	header{
		background: #faf5f5;
	}
	/* TODO */

	.numberSlider-component{
		background: white;
		border: 4px solid lightblue;
	}

	.conteiner-lateral{
			height: 84vh;
			background: #150303;
			display: inherit;
	}

	footer{
		border-radius: 10px;
		border: 4px solid grey;
		height: 100px;
		background: black;
		display: inline-block;
	}
}